<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ubiquitouscomputing.rainfallnotifier">

    <!-- Permissions -->
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!-- Metadata -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyA57FhgTzorAhCx_6ldS01v5RhiR7CdkYA" />

        <!-- Activities -->
        <activity
            android:name=".MainActivity"
            android:configChanges="orientation"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SettingsActivity"
            android:label="@string/title_activity_settings" />

        <!-- Services -->
        <service
            android:name=".service.RainCheckService"
            android:enabled="true"
            android:exported="false" />

        <!-- Receivers -->
        <!-- (DISABLED) Restart scheduled rainfall notification on boot completed -->
        <!-- https://developer.android.com/training/scheduling/alarms.html#boot -->
        <receiver
            android:name=".service.OnBootReceiver"
            android:enabled="false">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <!-- Handle the received alarm when fired -->
        <receiver android:name=".service.OnScheduleReceiver" />
    </application>

</manifest>